/**/
.collapse ul li a:hover
{
    
    transform: scale(1.3);
        cursor: pointer;
}
/*start header section*/
   
    .header
    {
        background-attachment: fixed;
        text-align: center;
        padding: 100px;
        background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../img/cover1.jpg);
        color: #fff;
        opacity: 1;
        height: 100vh;
        background-position: center;
        background-size: cover;
        margin-top: -100px;
    }


    .header-f
    {
        margin-top: 120px;
    }

    .header-f h1
    {
        font-family: "Work Sans";
        font-weight: 600;
        font-size: 50px;
        margin-bottom: 18px;
    }

    .header-f p
    {
        
        font-size: 18px;
        

    }

    .header-f button
    {
        background-color:transparent;
        border-radius:28px;
        border:1px solid #ffffff;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Verdana;
        font-size:15px;
        font-weight:bold;
        padding:10px 40px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
        background-color:transparent;
        margin-top:40px;
    }
        
    .header-f button:active 
    {
        position:relative;
        top:1px;
    }
        
    .header-f button:hover
    {
        background:linear-gradient(to bottom, #b5e0e0 5%, #b5e0e0 100%);
        background-color:#b5e0e0;
    }
       
        
/*end header section*/

/*start section*/

    /*start section icon */
        .icon
        {
            padding-top: 50px;
            padding-bottom: 100px;
            background-image: url(../img/cover2.png);   


        }

        .icon-1
        {
            box-sizing: border-box;
            padding-left: 80px;
            padding-right: 80px;
            width: 100%;
        }

        .icon-1 i
        {
            color: white;
            font-size: 25px;
            background-color: rgba(146, 150, 150, 0.712);
            margin-bottom: -60px;
            border-radius: 50%;
            padding: 15px;
        }

        .pulm-1
        {
            margin-top: 80px;
        }

        .pulm-1 h5
        {
            font-size: 15px;
        }

        .pulm-1 p
        {
            font-size: 10px;
        }

    /*End section icon */

    /*start section who we are?*/

        .back
        {
            background-attachment: fixed;
            text-align: left !important;
            padding:100px !important;
            background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../img/cover2.jpg);
            color: #fff;
            height: 100vh;
            background-position: center ;
            background-size: cover;
            display: flex;
            justify-content: flex-end;
        }

        .back h2 
        {
            font-size: 30px !important;
        }

        .back p
        {
            font-size:15px !important ;
        }

        .back button
        {
            background-color:transparent;
            border-radius:28px;
            border:1px solid #ffffff;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            font-family:Verdana;
            font-size:15px;
            font-weight:bold;
            padding:13px 40px;
            text-decoration:none;
            text-shadow:0px 1px 0px #2f6627;
            background-color:transparent;
            margin-top:40px;
        }

        .back button:active 
        {
            position:relative;
            top:1px;
        }
        
        .back button:hover
        {
            background:linear-gradient(to bottom, #b5e0e000 5%, #b5e0e000 100%);
            background-color:#b5e0e0;
        }
    /*End section who we are?*/
    /*start section our classes*/
        .are
        {
            padding-top: 50px;
            padding-bottom: 50px;
            background-image: url(../img/cover2.png);  
        }

        .are h3
        {
            font-size: 30px !important;
        }

        .are p 
        {
            font-size: 15px !important;
        }

        .are h4 
        {
            font-size:20px !important ;
        }
    /* End section our classes*/

    /*start section yoga Benefit*/
        .moon
        {
            padding-top: 10px;
            padding-bottom: 10px;
            background-image: url(../img/cover2.png);  
        }
    /*Endt section yoga Benefit*/

    /*start section carousel*/
        .room
        {
            background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../img/cover1.jpg);
            background-attachment: fixed !important;
            background-position: center !important;
            background-size: cover !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            height: 100vh;
            height: 700px !important;
        }
    /*End section carousel*/

    /*start section ready*/
        .ready
        {
            background-image: url(../img/cover2.png);
            background-attachment: fixed !important;
            background-position: center !important;
            background-size: cover !important;
            text-align: center !important;
            height: 100vh;
            margin-bottom: 600px !important;
        }

        .ready button
        {
            background-color:#c1bab3;
            border-radius:28px;
            border:1px solid #fff;
            display:inline-block;
            cursor:pointer;
            color:#fff;
            font-family:Verdana;
            font-size:15px;
            font-weight:bold;
            padding:13px 40px;
            text-decoration:none;
            text-shadow:0px 1px 0px #2f6627;
            margin-top:40px;
        }
            
        .ready button:active 
        {
            position:relative;
            top:1px;
        }
            
        .ready button:hover
        {
            background:linear-gradient(to bottom, black 5%, black 100%);
            background-color:#000000;
        }
    /*end section ready*/
       
/*end section */

    